:root {
    font-family:
        -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 28px;

    box-sizing: border-box;

    /* Define all variables to be used here */

    --dark-colour: #1f2937;
    --mid-colour: #e5e7eb;
    --light-colour: #f9faf8;

    --header-text-size: 30px;
    --header-y-pad: calc(var(--header-text-size) * 0.8);
    --header-x-pad: calc(var(--header-text-size) * 0.35);

    --footer-text-size: 24px;
    --footer-y-pad: calc(var(--footer-text-size) * 0.5);
    --footer-x-pad: var(--footer-text-size);
}

/*
Default styles I want set for specific elements
This is used to stop horrible, miserable browser defaults that aren't
covered in the normalize.css file.
*/

p {
    margin: 0px;
}

/* Page styles */

#all-content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Can remove this class after development */
#header,
#content,
#footer {
    border: 1px dashed orangered;
}

#header {
    background-color: var(--dark-colour);
    color: var(--light-colour);    

    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding: var(--header-y-pad) var(--header-x-pad);
}

.header-text {
    font-weight: 600;
    letter-spacing: 4px;
    font-size: var(--hedaer-text-size);
}

#content {
    background-color: var(--light-colour);
    color: var(--dark-colour);

    flex: 8 0 auto;
}

#footer {
    background-color: var(--mid-colour);
    color: var(--dark-colour);

    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: var(--footer-y-pad) var(--footer-x-pad);
}

.footer-text {
    font-weight: 500;
    font-size: var(--footer-text-size);
}